/*
	20 = 12
*/

//Header Area
	%default-button-properties{
		input[type="submit"],
		input[type="reset"],
		input[type="button"],
		button,
		button:active,
		button:hover{
			background-color: $col-primary; 
			padding: 5px; 
			color: #fff;
			@include font-size( 12px );
		}
	}


	%default-html-properties{
		h1{ @include font-size( $html-size-h1 ); }
		h2{ @include font-size( $html-size-h2 ); }
		h3{ @include font-size( $html-size-h3 ); }
		h4{ @include font-size( $html-size-h4 ); }
		h5{ @include font-size( $html-size-h5 ); }
		h6{ @include font-size( $html-size-h6 ); }
		h1,h2,h3,
		h4,h5,h6{
			font-family: $font-primary; 
		}
		p{ @include font-size( $html-size-p ); }
		font-size: $html-default-size;
		//font-family: $font-secondary;

		@extend %default-button-properties;
	}

	%sft-typical-panel{
		@extend %sft-panel-padding;
		@include rounded($panel-radius);  
		.wp-post-image{
			margin-bottom: 15px; 
		}
		.entry-title{
			@include font-size(36px); 
		}

		@include bp-medium{
			@include rounded( 0 ); 
		}	
	}

	%sft-purple-box{
		background-color: $col-primary;
		border: 5px solid white; 
		@include box-shadow( 0px, 0px, 15px, #333 );	
		@extend %sft-typical-panel;

		color: #fff; 

		a{
			color: $col-secondary; 
		}

		@include bp-medium{
			@include rounded( 0 ); 
			border: 3px solid white; 
		}
	}

	%sft-white-box{
		background-color: rgba(255,255,255, .9);	
		@extend %sft-typical-panel;
		border-radius: 3px; 

		a{
			color: $col-secondary; 
		}
	
	}

	%sft-panel-padding{
		padding: $css-padding-full;

		@include bp-medium{
			padding: $css-padding-med;
		}
		@include bp-small{
			padding: $css-padding-sm; 
		}
	}

	%sft-mobile-text{
		@include bp-medium{
			text-align: center; 
		}
	}

	%sft-button{
		@extend %sft-purple-box;
		border: 0; 
		display: inline-block; 
		padding: 8px;
		margin-top: 15px;  
		a{ 
			color: #fff!important;
			&:hover,
			&:active,
			&:focus{
				text-decoration: none; 
			} 
		}

		@include bp-medium{
			width: 100%; 
			text-align: center; 
		}
	}