/*
	In this file goes objects or groups of designs that arent as
	repeatable as placeholders. 
*/

	%obj-body{
		@extend %default-html-properties;
		background-image: url('../images/bottom_shape.jpg'); 
		background-size: 100% auto; 
		background-repeat: no-repeat; 
		background-position: bottom; 
	}

	%obj-top-repeatable-design{
		height: 80px; 
		background-image: url('../images/top_shape.jpg');
		background-repeat: repeat-x; 
		background-position: top; 
		width: 100%; 

		border-bottom: 10px solid #fff; 

		@include box-shadow( 0px, 5px, 20px, #333 );

		@include bp-small{
			height: 40px; 
		}
	}

	%obj-site-header{
		@extend %sft-purple-box;
		@extend %clearfix; 

		margin-top: -40px; 
		//width: 70%; 
		margin-left: auto; 
		margin-right: auto; 

		text-shadow: 3px 3px 5px rgba(0, 0, 0, .9);
		
		@include container; 

		.site-info{
			@include span( 10 last);
			text-align: center; 
			.site-title{ margin: 0px; }
			.site-title a{
				font-family: $font-primary;
				color: #fff; 
				@include font-size(50px);
				text-decoration: none; 
				&:hover,
				&:active{
					text-decoration: none; 
				}
			}
			.site-description{
				font-family: $font-secondary; 
				@include font-size(50px);
				margin: 0px; 
			}
		}

		.site-logo{
			@include span(isolate 150px at 0%);
			margin-top: -40px;
		}

		@include bp-small{
			@include span( 12 );
			margin-top: -10px; 
			text-align: center; 

			.site-logo{
				display: none; 
				width: 0;
			}
			.site-info{
				@include span( 12 );
				.site-title a{
					@include font-size(37.5px);
				}.site-description {
					@include font-size(25px);
				} 
			}
			
		}

	}

	%obj-site-navigation{
		//width: 70%;
		margin: 0 auto; 
		float: none; 

		//.menu-main-menu-container{
			text-align: center; 
			line-height:30px;
			
			li{
		        display:inline-block;
		        float: none; 
		    	

		        padding: 8px 12px; 
		        font-family: $font-primary; 
		        text-transform: uppercase; 
		        @include font-size(17.5px);


		        a{ 
		        	display: inline-block; 
					color: #000;
					@include transition(all .3s ease);
					font-family: $font-tertiary; 
					&:hover{
						color: $col-secondary;  
					}					
		        }
			}
		//}

		button{
			padding: 15px;
			width: 100%; 
			@include font-size( 18.75px );
			text-transform: uppercase; 
			background-color: $col-secondary; 
			color: #fff; 
		}

		@include bp-medium{
			li{
				display: block !important; 
				background-color: lighten($col-secondary, 50%);
				padding: 0 !important; 
				a{ 
					display: block; 
					padding: 8px;
					width: 100%; 
				}
			}li:hover{
				background-color: lighten($col-secondary, 25%);
				a{ color: $col-primary!important; }
			}
		}

		@extend %clearfix; 
	}

	%obj-slider-wa{
		@include container; 

		@include bp-small{
			display: none; 
		}
	}

	%obj-learn-more{
		@extend %sft-purple-box;
		padding: 5px; 
		border-left: 0;
		border-right: 0; 
		border-radius: 0; 
		border-width: 2px; 
		text-align: right; 
		
		h1{
			margin: 0px; 
			font-family: $font-secondary;
			@include font-size(50px);
			height: 35px; 
			margin-right: 10px; 
			margin-top: -10px; 
		}
	}

	%obj-sidebar{
		@extend %sft-purple-box; 
		$_opacity : .7; 
		background-color: lighten( desaturate( rgba( $col-secondary, $_opacity ), 60% ), 30%);
		border: 3px solid rgba( white, $_opacity ); 
		color: $col-grey;
		h1{
			text-decoration: underline; 
		}

		@extend %sft-mobile-text;
	}

	%site-search-form{
		label,
		input{
			width: 100%;
			margin: 0px; 
			box-sizing: border-box;
			border-radius: 0; 
			text-align: center; 
		}
	}

	%obj-content-area{
		@extend %sft-white-box; 
		.entry-title{
			font-style: italic; 
			color: $col-primary; 
		}
	}

	%obj-footer-area{
		@extend %sft-purple-box;
		margin-top: 30px; 

		h1{
			font-family: $font-tertiary; 
			@include font-size(16.25px);
			text-transform: uppercase; 
		}

		@include container;
		.widget{
			@include span( 3 );
			&:last-child{
				margin-right: 0; 
			}

			@include bp-medium{
				@include span(12);
			}
			
		}


		@extend %sft-mobile-text;
	}

	%obj-disclaimer{
		text-align: center; 
		background-color: #fff; 
		margin-top: 8px; 
		padding-bottom: 5px; 
		@include rounded(3px); 
	}